button:enabled{
    color: #000000;
    border: none;
    background: #ff477e;
    padding: 20px 40px;
    border-radius: 100px;
    transition: all 0.5s eas-in-out;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.459) */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
  }
  button:disabled{
    color: #6d6b60;
    border: none;
    background: #ff477e73;
    padding: 20px 40px;
    border-radius: 100px;
    transition: all 0.5s eas-in-out;
  }
  button:hover:enabled{
    color: #000000;
    box-shadow: 0px 0px 40px #ff0a54;
  }
  input{
    width: 50%;
    color: #000000;
    border: none;
    /* background: #ff477e; */
    text-align: center;
    padding: 10px 10px;
    border-radius: 100px;
    transition: all 0.5s eas-in-out;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
  }
  select{
    color: #000000;
    border: none;
    width: 50%;
    /* background: #ff477e; */
    text-align: center;
    padding: 10px 10px;
    border-radius: 100px;
    transition: all 0.5s eas-in-out;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
  }
  /* html{
    height: 100%;
  }
  body{
    background: #fff1e6
  } */
  