<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springframework.ide.eclipse.boot.launch">
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="SPRING_DATASOURCE_URL" value="jdbc:postgresql://ec2-52-206-193-199.compute-1.amazonaws.com:5432/d3r8d6nl0ivake?password=fc4d62a591d0ff82bd70fc4d4ae9551bb5987c3859d2c1d596d8aa5e94f41142&amp;sslmode=require&amp;user=jlniaqrxftloyf"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EventRegistration-Backend"/>
    <booleanAttribute key="spring.boot.ansi.console" value="true"/>
    <stringAttribute key="spring.boot.app.properties" value=""/>
    <booleanAttribute key="spring.boot.dash.hidden" value="false"/>
    <booleanAttribute key="spring.boot.debug.enable" value="false"/>
    <booleanAttribute key="spring.boot.fast.startup" value="true"/>
    <booleanAttribute key="spring.boot.jmx.enable" value="true"/>
    <booleanAttribute key="spring.boot.lifecycle.enable" value="true"/>
    <stringAttribute key="spring.boot.lifecycle.termination.timeout" value="15000"/>
    <booleanAttribute key="spring.boot.livebean.enable" value="false"/>
    <stringAttribute key="spring.boot.livebean.port" value="0"/>
    <stringAttribute key="spring.boot.profile" value=""/>
</launchConfiguration>
